{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": [
        "react", 
        "import"
    ],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "no-unused-vars": [1, { "argsIgnorePattern": "res|next|^error" }]
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    }
}